@page "/series/{SeriesId}"
@inherits Pages.Series.IndexBase

<MudContainer Class="px-8" MaxWidth="MaxWidth.False">

    <MudBreadcrumbs Items="Breadcrumbs"></MudBreadcrumbs>

    @if (Item == null)
    {
        <Loading />
    }
    else
    {
        <MudPaper Elevation="3">
            <div class="series-header">
                <img src="@Item.Series.ImageUrl" width="200" />
                <div class="series-header-content">

                    <div class="series-info">
                        <MudText Typo="Typo.h5">@Item.Series.Title</MudText>
                        <MudText Typo="Typo.subtitle2">@Item.Series.Publisher</MudText>
                        <MudText Typo="Typo.subtitle2">@Item.Series.Years</MudText>
                        @*<MudText Typo="Typo.body1">Progress: @(Item.Series.Progress)</MudText>*@
                    </div>

                    <div class="series-actions">
                        <MudButtonGroup Color="@Item.Series.MudColor()" Variant="Variant.Outlined">
                            @foreach (var action in Actions)
                            {
                                <MudIconButton OnClick="() => OnAction(action)" Icon="@action.Icon" Color="@Item.Series.MudColor()"></MudIconButton>
                            }
                        </MudButtonGroup>
                    </div>

                </div>
                <div class="series-icon">
                    <MudAvatar Color="@Item.Series.MudColor()">@Item.Series.PublisherIcon</MudAvatar>
                </div>
            </div>
        </MudPaper>

        @foreach (var booklist in Item.BookLists)
        {
            <MudContainer Class="pa-0 my-3">
                <BooklistCard Item="@booklist"></BooklistCard>
            </MudContainer>
        }
    }

</MudContainer>