@page "/series/{SeriesId}"
@inherits Pages.Series.IndexBase

<MudContainer Class="px-8" MaxWidth="MaxWidth.False">

    <MudBreadcrumbs Items="_items"></MudBreadcrumbs>

    @if (Item == null)
    {
        <Loading />
    }
    else
    {
        <MudPaper Outlined="true" Elevation="2">
            <div class="series-header">
                <img src="@Item.Series.ImageUrl" />
                <div class="series-info">
                    <MudText Typo="Typo.h4">@Item.Series.Title</MudText>
                    <MudText Typo="Typo.h5">@Item.Series.Years</MudText>
                    <MudText Typo="Typo.body1">Progress: @(Item.Series.Progress)</MudText>
                </div>
                <div class="series-icon">
                    <MudAvatar Color="@Item.Series.MudColor()">@Item.Series.PublisherIcon</MudAvatar>
                </div>
            </div>
        </MudPaper>
    }

</MudContainer>

@code  {
    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
{
        new BreadcrumbItem("Home", href: "#"),
        new BreadcrumbItem("Library", href: "#"),
        new BreadcrumbItem("Shelf Name", href: "#"),
        new BreadcrumbItem("Series Title", href: null, disabled: true)
    };
}