<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comics Library</title>
    <meta name="description" content="Comics Library" />
    <link rel="SHORTCUT ICON" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" data-bind="foreach: menuItems">
                    <li data-bind="css: { active: active }">
                        <a data-bind="text: name, click: $root.menuClick"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <br />

        <div id="content">

        </div>

    </div>

    <div data-bind="visible: loading" class="spinner" id="loading-indicator">
        <img src=@Url.Content("~/loading.gif") class="spinner-element" />
    </div>

    <div class="hidden">
        <span id="currentUrl" data-stuff-url="@Url.Action("Index", "Current")"></span>
        <span id="latestUrl" data-stuff-url="@Url.Action("Index", "Latest")"></span>
        <span id="libraryUrl" data-stuff-url="@Url.Action("Index", "Library")"></span>
        <span id="searchUrl" data-stuff-url="@Url.Action("Index", "Search")"></span>
        <span id="seriesUrl" data-stuff-url="@Url.Action("Index", "Series")"></span>
    </div>

    <script src="~/lib/JQuery/jquery-3.4.1.min.js"></script>
    <script src="~/lib/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/FontAwesome/js/fontawesome.js"></script>
    <script src="~/lib/KnockoutJS/knockout-3.5.0.js"></script>
    <script src="~/lib/KnockoutJS/ko-scrollHandler.js"></script>
    <script src="~/lib/MomentJS/moment.js"></script>
    <script src="~/lib/RequireJS/require.js"></script>
    <script src="~/js/url.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/search.js"></script>
    <script src="~/js/series.js"></script>
    <script src="~/js/latest.js"></script>
    <script src="~/js/library.js"></script>
    <script src="~/js/current.js"></script>
    <script src="~/js/index.js"></script>

</body>
</html>
